/* font-family: 'Jura', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");
/* font-family: 'Averia Serif Libre', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap");

/* Provide sufficient contrast against white background */
:root {
  /* Colours */
  --background-default: #6e7e85;
  --background-secondary: #221e22;
  --background-tertiary: #529E7E;
  --background-quaternary: #042a2b;
  --background-light: #fbfbff;

  --primary-default: #ff9f1c;
  --primary-alternate: #22918C;
  --primary-dark: #0B2736;
}


html, body { 
  margin: 0;
  padding: 0;
  height: 100%;

}
body {
  background: var(--background-secondary);
  margin: 0;
  font-family: 'Averia Serif Libre', Roboto, cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Jura', sans-serif;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.container {
  top: 100px;
}

.f1-navbar {
  background-color: rgba(0,0,0,0);
}

.f1-navbar:hover {
  background-color: var(--primary-alternate);
}

.btn-primary {
  color: white;
  border: none;
  padding: 10px 20px;
  min-height: 30px;
  background-color: var(--primary-default);
}

.btn-primary:hover {
  background-color: var(--primary-alternate);
}

.btn-icon-primary,
.btn-icon-secondary,
.btn-icon-dark {
  color: white !important;
  border: none;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.btn-icon-primary:hover,
.btn-icon-secondary:hover,
.btn-icon-dark:hover {
  background-color: white !important;
  color: black !important;
}

.btn-icon-primary {
  background-color: var(--primary-default) !important;
}

.btn-icon-secondary {
  background-color: var(--primary-alternate) !important;
}

.btn-icon-dark {
  background-color: var(--primary-dark) !important;
}

 